<div class="main-content" id="app">
    <div class="content-wrapper">
        <section id="file-export">
            <div class="row">


                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><h2>Сommunication</h2></h4>
                        </div>
                        <div class="card-content ">
                            <div class="card-body card-dashboard ">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <communication user_id="{{ user_id }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    .priority_1 {
        background-color: #ffe103;
    }

    .priority_2 {
        background-color: #C0C0C0;
    }

    .priority_3 {
        background-color: #D3D3D3;
    }

    .priority_4 {
        background-color: #DCDCDC;
    }
</style>


<script src="../../../js/dist/vue.js"></script>
<script src="../../../js/components/Orders/communication.js?v=7"></script>
<script src="../../../js/main.js"></script>


