<div class="main-content" id="app">
    <div class="content-wrapper">
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><h2>I-BIOSdeadline for FR</h2></h4>
                        </div>
                        <div class="card-content ">
                            <div class="card-body card-dashboard">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <orders-deadline/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script src="../../../js/dist/vue.js"></script>
<script src="../../../js/components/Orders/ordersDeadline.js?v=1.05"></script>
<script src="../../../js/main.js"></script>


