<div class="main-content" id="app">
    <div class="content-wrapper">
        <div class="card-content">
            <orders_cnt/>
        </div>
    </div>
</div>

<script src="../../../js/dist/vue.js"></script>
<script src="../../../js/components/Orders/orders_cnt.js?v=3"></script>
<script src="../../../js/main.js"></script>
