<div class="main-content" id="app">
    <div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="content-header">API</div>
        </div>
    </div>
    <!-- Basic Usage -->
    <section id="basic-usage" class="row">
        <div class=" col-12">
            <div class="card" name="#manager">
                <div class="card-header">
                    <h4 class="card-title">Описание</h4><a class="heading-elements-toggle"></a>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>api/{METHOD}/?token={TOKEN}
                            Где {METHOD} вызываемый вами метод
                            {TOKEN} ваш личный токен
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>
