<div class="main-content" id="app">
    <div class="content-wrapper">
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Template Site Capability</h4>
                        </div>
                        <div class="card-content ">
                            <div class="card-body card-dashboard ">
                                <div>
                                    <TemplateSitecapability></TemplateSitecapability>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<script  src="../../../js/dist/vue.js"></script>
<script  src="../../../js/components/Sitecapability/TemplateSitecapability.js?v=1.01"></script>
<script  src="../../../js/main.js"></script>


