<style>
    .xl90 {
        background: #44546A;
        color: white;
        font-weight: 700;
        font-family: Calibri, sans-serif;
        padding: 5px;
        text-align: center;
        font-size: 14px !important;
        vertical-align: middle;
    }

    .xl91 {
        background: #DDEBF7;
        color: black;
        font-family: Calibri, sans-serif;
        padding: 5px;
        text-align: center;
        font-size: 14px !important;
        vertical-align: middle;
    }

    table {
        font-size: 14px !important;
    }

    .offer__table td {

        color: black;
        font-size: 14px !important;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        mso-generic-font-family: auto;
        mso-font-charset: 204;
        mso-number-format: General;
        mso-background-source: auto;
        mso-protection: locked visible;
        mso-rotate: 0;
        border-top:.5pt solid windowtext;
        font-family: Calibri, sans-serif;
        border-top: .5pt solid windowtext;
        border-right: .5pt solid windowtext;
        border-bottom: .5pt solid windowtext;
        border-left: .5pt solid windowtext;
        border-spacing: 0;
        mso-pattern: black none;
        white-space: normal;
        text-align: center;
        vertical-align: middle;
    }

</style>

<div class="main-content" id="app">
    <div class="content-wrapper">
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Commercial offer</h4>
                            <button class="btn btn-danger" onclick="generate()">GENERATE PDF</button>
                        </div>
                        <div class="card-content ">
                            <div class="card-body card-dashboard " id="html">





                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <td width="10%"><b>Date</b></td>
                                        <td style="text-align: left;">2020-08-05</td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><b>Document #</b></td>
                                        <td style="text-align: left;">T9-929</td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><b>Distribution</b></td>
                                        <td style="text-align: left;">Achilles</td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><b>Attention to</b></td>
                                        <td style="text-align: left;">Nathalie Bervas Key Account Manager</td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><b>Client ID</b></td>
                                        <td style="text-align: left;">A8</td>
                                    </tr>
                                    <tr>
                                        <td width="10%">&nbsp;</td>
                                        <td style="text-align: left;">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td width="10%"><b>Valid for</b></td>
                                        <td style="text-align: left;">2020-10-04</td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><b>Issued by</b></td>
                                        <td style="text-align: left;">Gleb Kapustin, Senior Project Coordinator, BD</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                                <br>
                                <table width="100%" class="offer__table" cellpadding="0" cellspacing="0" >
                                    <thead>
                                    <tr class="xl90">
                                        <th>Item</th>
                                        <th>Disease</th>
                                        <th>HBS Type</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Price(USD)</th>
                                        <th>Total Price(USD)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="xl91">
                                        <td>1</td>
                                        <td style="text-align: center; padding: 10px; vertical-align: middle;" valign="center" align="cen">Systemic Lupus Erythematosus
                                            (SLE)
                                        </td>
                                        <td style="text-align: center; padding: 10px; vertical-align: middle;" valign="center">Tissue + PBMCs</td>
                                        <td style="text-align: left; padding: 10px; vertical-align: middle;" valign="center">Indication: <br>
                                            Timeline I<br>
                                            At the moment of surgery<br>
                                            Samples:<br>
                                            FFPE block<br>
                                            Type of collection<br>
                                            propspective<br>
                                            Processing details:<br>
                                            hold it tight<br>
                                            Timeline II<br>
                                            Within 3 weeks post surgery<br>
                                            Samples:<br>
                                            Frozen PBMCs 4x10mln cells<br>
                                            Type of collection<br>
                                            propspective<br>
                                            Processing details:<br>
                                            Stir don't shake<br>
                                            Inclusion criteria<br>
                                            Any stage<br>
                                            Any treatment status<br>
                                            Exclusion criteria:<br>
                                            Stem cells treated<br>
                                            Not baptisted donors<br>
                                            Clinical information:<br>
                                            Special CRF<br>
                                            HBV/HCV/HIV negativity confirmation<br>
                                            List of samples:<br>
                                            not aplicable
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;" valign="center">3</td>
                                        <td style="text-align: center; vertical-align: middle;" valign="center">3 000,00</td>
                                        <td style="text-align: center; vertical-align: middle;" valign="center">9 000,00</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>

                                <table width="100%" >
                                    <tbody>
                                    <tr>
                                        <td width="10%"><b>Turnaround time</b></td>
                                        <td style="text-align: right;">2-3 weeks</td>
                                        <td style="text-align: right; padding-right: 10px"><b>TOTAL per biospecimens
                                                procurement service (USD) </b></td>
                                        <td class="xl90" style="text-align: right; padding-right: 10px; "> 9 000,00</td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><b>Storage conditions</b></td>
                                        <td style="text-align: right;">Frozen -80C</td>
                                        <td style="text-align: right; padding-right: 10px"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>
                                <table width="70%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr class="xl90">
                                        <td colspan="2"><b>Turnaround time</b></td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Storage conditions</b></td>
                                        <td style="text-align: left; padding-left: 5px">Frozen -80C</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Courier</b></td>
                                        <td style="text-align: left; padding-left: 5px">DHL</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Estimated number of
                                                shipments</b></td>
                                        <td style="text-align: left; padding-left: 5px">1</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr class="xl90">
                                        <td><b>Shipping & Handling expense items</b></td>
                                        <td></td>
                                        <td>Quantity</td>
                                        <td>Price (USB)</td>
                                        <td>Total price (USB)</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Courier shipping fee </b>
                                        </td>
                                        <td style="text-align: left; padding-left: 5px">AMBIENT</td>
                                        <td style="text-align: center; padding-left: 5px">1</td>
                                        <td style="text-align: right; padding-left: 5px">120,00</td>
                                        <td style="text-align: right; padding-left: 5px">120,00</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Export permit </b></td>
                                        <td style="text-align: left; padding-left: 5px">yes</td>
                                        <td style="text-align: center; padding-left: 5px">1</td>
                                        <td style="text-align: right; padding-left: 5px">110,00</td>
                                        <td style="text-align: right; padding-left: 5px">110,00</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Customs clearance (broker's
                                                fee) </b></td>
                                        <td style="text-align: left; padding-left: 5px">yes</td>
                                        <td style="text-align: center; padding-left: 5px">1</td>
                                        <td style="text-align: right; padding-left: 5px">179,00</td>
                                        <td style="text-align: right; padding-left: 5px">179,00</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Thermologger </b></td>
                                        <td style="text-align: left; padding-left: 5px">yes</td>
                                        <td style="text-align: center; padding-left: 5px">1</td>
                                        <td style="text-align: right; padding-left: 5px">179,00</td>
                                        <td style="text-align: right; padding-left: 5px">179,00</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Packaging & handling </b>
                                        </td>
                                        <td style="text-align: left; padding-left: 5px">yes</td>
                                        <td style="text-align: center; padding-left: 5px">1</td>
                                        <td style="text-align: right; padding-left: 5px">50,00</td>
                                        <td style="text-align: right; padding-left: 5px">50,00</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>

                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td><b>&nbsp;</b></td>
                                        <td style="text-align: right;">&nbsp;</td>
                                        <td style="text-align: right; padding-right: 10px"><b>ESTIMATE of total shipment
                                                costs (USD)</b></td>
                                        <td class="xl90" style="text-align: right; padding-right: 10px; "> 459,00</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>
                                <table width="100%">
                                    <tbody>
                                    <tr class="xl90">
                                        <td colspan="2"><b>Payment policy </b></td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Payment terms</b></td>
                                        <td style="text-align: left; padding-left: 5px">0</td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>Special terms</b></td>
                                        <td style="text-align: left; padding-left: 5px">Actually incurred shipping cost
                                            will be invoiced and will depend on the weight and dimensions of shipping
                                            container(s), shipping destination and other conditions.
                                        </td>
                                    </tr>
                                    <tr class="xl91">
                                        <td style="text-align: left; padding-left: 5px"><b>&nbsp;</b></td>
                                        <td style="text-align: left; padding-left: 5px">Estimated shipping costs are calculated on the assumption of one shipment per purchase order.</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script>
    function generate() {
    let html = document.getElementById('html').innerHTML;
        $.ajax({
            url: '../offer/generatePdf',
            method: 'POST',
            data: {
                html: html
            }
        })
            .done(function(text) {
                $('#result').html(text);
            });
    }
</script>



