<div class="main-content" id="app">
    <div class="content-wrapper">
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Project Worksheets</h4>
                        </div>
                        <div class="card-content ">
                            <div class="card-body card-dashboard ">
                                <div id="worksheets">
                                    <poworksheets></poworksheets>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<script  src="../../../js/dist/vue.js"></script>
<script  src="../../../js/components/poworksheets.js"></script>
<script  src="../../../js/components/poquote.js?v=28"></script>
<script  src="../../../js/components/sites.js?v=9"></script>
<script  src="../../../js/main.js"></script>






